.home-screen {
  /* background-color: antiquewhite; */
  background-image: url("../assets/img/bg4.png");
}

.paragraf {
  font-size: 16px;
  text-align: justify;
}

/* Style the active class (and buttons on mouse-over) */
.navbar {
  color: black;
  background-color: white;
}

.tab-navigation .flight {
  background: #fff;
  color: black;
}

.tab-navigation .active {
  background: #fff;
  color: black;
}

.destinasi {
  height: 500px;
  overflow-y: scroll;
}

.card {
  padding: 5px;
}

/* ===========================
   Search Form Styles
   =========================== */
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5px; /* Mengurangi margin atas untuk menempelkan form ke tab navigasi */
  background: #fff;
  border-radius: 10px 20px 10px 20px; /* Membuat sudut bulat dengan radius 20px di bawah */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: auto; /* Menambahkan margin kiri otomatis */
  margin-right: auto; /* Menambahkan margin kanan otomatis */
  position: relative; /* Menambahkan posisi relatif untuk z-index */
  z-index: 5; /* Menambahkan z-index lebih rendah dari tab navigasi */
  height: 120px; /* Menambahkan ukuran tinggi */
}

.search-form input,
.search-form button {
  border: 2px solid #5c8ff3;
  border-radius: 10px;
  padding: 10px;
  margin: 0 5px;
  font-size: 16px;
}

.search-form button {
  background: #fff;
  color: #0057ff;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.search-form button:hover {
  background: #0057ff;
  color: #fff;
}

.search-form .btn-dark {
  background-color: #007bff;
  color: #fff;
}

table {
  padding: 10px;
}

td {
  padding-right: 30px;
  padding-left: 30px;
}

.flight-duration-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.line {
  width: 100%;
  height: 2px;
  /* background-color: #000; */
  /* background: black; */
  position: relative;
}

.duration-label {
  position: absolute;
  top: -20px; /* Adjust this value to move the label up or down */
  background-color: #fff;
  padding: 0 5px; /* Add some padding for better appearance */
  font-size: 14px;
  font-weight: bold;
}
